{% extends "main/Ambulance_data.html"%}

<body>
    
        {% block content %}
        <div class="signUpBox" style="background-color: #e0f7fa; padding: 5em; border-radius: 30px; margin: 2em;">
        <form method="POST" accept-charset="UTF-8" action="{% url 'password-reset' %}">
            {% csrf_token %}
            {{form.as_p}}
            <br/><br/>
            <div class="row">
                <button type="submit" class="waves-effect blue lighten-1 hoverable btn-large col s6 offset-s3 offset+s3">Reset Password</button>    
            </div>
        </form>
        </div>

        {% endblock %}
      
</body>

